@model EntityLayer.Concrete.Contact

<div class="col-md-9 contact-middle">
    <h2>Bize Ulaşın</h2>

    <form asp-action="SendMessage" asp-controller="Default" method="post">
        <div class="form-agileinfo">
            <p>Adınız</p>

            <style>
                input::placeholder {
                    color: aquamarine;
                }

                textarea::placeholder {
                    color: aquamarine;
                }
            </style>

            <input type="text" asp-for="Name" placeholder="İsminiz" required>

            <p>Mailiniz</p>
            <input type="email" asp-for="Mail" placeholder="Mail Adresinizi Girmelisiniz" required>
        </div>

        <div class="form-agileits-w3layouts">
            <p>İletiniz</p>
            <textarea asp-for="Message" placeholder="Mesaj İçeriği" required></textarea>
            <input type="submit" value="Mesaj Gönder">
        </div>

        <div class="clearfix"></div>
    </form>
</div>