
@{
    Layout = null;
}

<!DOCTYPE html>
<!-- Coding By CodingNepal - www.codingnepalweb.com -->
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Giriş Formu</title>
    <link rel="stylesheet" href="~/Glassmorphism Login Form/style.css">
</head>
<body>
    <div class="wrapper">
        <form action="#">
            <h2>Giriş</h2>
            <div class="input-field">
                <input type="text" required>
                <label>Kulllaınıcı Mailini Giriniz</label>
            </div>
            <br />
            <div class="input-field">
                <input type="password" required>
                <label>Kulllaınıcı Şifrenizi Giriniz</label>
            </div>
            <br />
            <br /> 
            <button type="submit">Giriş</button>
            <br />  
        </form>
    </div>
</body>
</html>