@using EntityLayer.Concrete
@model List<Service>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Yeni</h1>
<table class="table" style="border: 1px solid #90caf9; width: 100%; text-align: center;">
    <thead>
        <tr style="background-color: #FFFF99; color: #000;">
            <th scope="col" style="border: 1px solid #90caf9; padding: 8px;">#</th>
            <th scope="col" style="border: 1px solid #90caf9; padding: 8px;text-align: center;">Başlık</th>
            <th scope="col" style="border: 1px solid #90caf9; padding: 8px; text-align: center;">İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr style="background-color: @(item.ServiceID % 3 != 0 ? "#F0F8FF" : "#F0FFFF");">
                <th scope="row" style="border: 1px solid #90caf9; padding: 8px;">@item.ServiceID</th>
                <td style="border: 1px solid #90caf9; padding: 8px;">@item.Title</td>
                <td style="border: 1px solid #90caf9; padding: 8px; text-align: right; display: flex; justify-content: space-evenly;">
                   
                    <a href="/Service/DeleteService/@item.ServiceID">
                        <button type="button" class="btn btn-danger">Hizmet Sil</button>
                    </a>
                    <a href="/Service/EditService/@item.ServiceID">
                        <button type="button" class="btn btn-info">Hizmet Güncelle</button>
                    </a>
                </td>
            </tr>
        }
       
    </tbody>
   
</table>
<a href="/Service/AddService">
    <button type="button" class="btn btn-success">Hizmet Ekle</button>
</a>
