
  <nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="~/MajesticAdmin-Free-Bootstrap-Admin-Template-master/template/index.html">
                <i class="mdi mdi-home menu-icon"></i>
                <span class="menu-title">Menüler</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="~/MajesticAdmin-Free-Bootstrap-Admin-Template-master/template/pages/forms/basic_elements.html">
                <i class="fa-solid fa-bars" style="color: #31ddaa; margin-right:15px"></i>
                <span class="menu-title"> Hizmetler </span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="~/MajesticAdmin-Free-Bootstrap-Admin-Template-master/template/pages/forms/basic_elements.html">
                <i class="fa-solid fa-bars" style="color: #31ddaa; margin-right:15px"></i>
                <span class="menu-title"> Takım Arkadaşlarımız</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="~/MajesticAdmin-Free-Bootstrap-Admin-Template-master/template/pages/charts/chartjs.html">
                <i class="fa-solid fa-bars" style="color: #31ddaa; margin-right:15px"></i>
                <span class="menu-title">Grafikler</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="~/MajesticAdmin-Free-Bootstrap-Admin-Template-master/template/pages/tables/basic-table.html">
                <i class="fa-solid fa-bars" style="color: #31ddaa; margin-right:15px"></i>
                <span class="menu-title">İstatislikler</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="~/MajesticAdmin-Free-Bootstrap-Admin-Template-master/template/pages/icons/mdi.html">
                <i class="fa-solid fa-bars" style="color: #31ddaa; margin-right:15px"></i>
                <span class="menu-title">Duyurular</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="~/MajesticAdmin-Free-Bootstrap-Admin-Template-master/template/pages/icons/mdi.html">
                <i class="fa-solid fa-bars" style="color: #31ddaa; margin-right:15px"></i>
                <span class="menu-title">İletişim</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="~/MajesticAdmin-Free-Bootstrap-Admin-Template-master/template/pages/icons/mdi.html">
                <i class="fa-solid fa-bars" style="color: #31ddaa; margin-right:15px"></i>
                <span class="menu-title">Gelen Mesajlar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="~/MajesticAdmin-Free-Bootstrap-Admin-Template-master/template/pages/icons/mdi.html">
                <i class="fa-solid fa-bars" style="color: #31ddaa; margin-right:15px"></i>               <span class="menu-title">Adres Bilgileri</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="~/MajesticAdmin-Free-Bootstrap-Admin-Template-master/template/pages/icons/mdi.html">
                <i class="fa-solid fa-bars" style="color: #31ddaa; margin-right:15px"></i>
                <span class="menu-title">Ayarlar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="~/MajesticAdmin-Free-Bootstrap-Admin-Template-master/template/documentation/documentation.html">
                <i class="fa-solid fa-bars" style="color: #31ddaa; margin-right:15px"></i>            
                <span class="menu-title">Çıkış Yap</span>
            </a>
        </li>
    </ul>
</nav>